* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}


@tailwind base;
@tailwind components;
@tailwind utilities;





@keyframes slowPulse {
  from{
    box-shadow: blue 0px 0px 0px;
  }
  80%{
    box-shadow: blue 0px 0px 0px;
  }
  to{
    box-shadow: blue 0px 0px 20px;
    animation-timing-function: cubic-bezier(0.8,0,1,1);

  }
}


@keyframes customBounce {
  0% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  100% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.customBounce {
  animation: customBounce 1s alternate-reverse;
  animation-iteration-count: 10;
}



#menu{
  animation: alternate-reverse;
  animation-iteration-count: 6;
  animation-duration: 5s;
  animation-name: slowPulse;
}



/* don't confuse visibility with display! */
#menu a{
  visibility: hidden;
}

@keyframes menuLinkDisplay {
  0%{
    visibility: hidden;
  }
  80%{
    visibility: hidden;

  }
  100%{
    visibility: visible;

  }
}

#menu:hover a{
  animation: menuLinkDisplay 100ms;
  visibility: visible;
}

#menu:focus a{
  animation: menuLinkDisplay 100ms;
  visibility: visible;
}

#menu:focus-within a{
  animation: menuLinkDisplay 100ms;
  visibility: visible;
}

/* the below goes for all the sub link elements of the menu */
#menu a:hover,a:focus,a:focus span{
  color: rgb(207 250 254);
}






