* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

#experience b{
  font-weight: 800;
  font-size: 1.125rem/* 18px */;
  line-height: 1.75rem/* 28px */;
  color: greenyellow;
}

#experience{
  text-shadow: black 1px 1px 2px;
}

#experience button{
  text-shadow: rgb(255, 255, 255) 0px 1px 1px;
}

#menu a:hover{
  color: rgb(207 250 254);
}

#infoPage_Links a{
  color:  rgb(199, 241, 254);
}

#infoPage_Links a:hover{
  color: rgb(254 202 202);
  text-decoration: underline;
}


@keyframes slowPulse {
  from{
    box-shadow: blue 0px 0px 0px;
  }
  80%{
    box-shadow: blue 0px 0px 0px;
  }
  to{
    box-shadow: blue 0px 0px 20px;
    animation-timing-function: cubic-bezier(0.8,0,1,1);

  }
}

#menu{
  animation: alternate-reverse;
  animation-iteration-count: 6;
  animation-duration: 5s;
  animation-name: slowPulse;
}

@keyframes customBounce {
  0% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  100% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
.customBounce {
  animation: customBounce 1s alternate-reverse;
  animation-iteration-count: 10;
}


