* {
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}


@tailwind base;
@tailwind components;
@tailwind utilities;





@keyframes slowPulse {
  from{
    box-shadow: blue 0px 0px 0px;
  }
  80%{
    box-shadow: blue 0px 0px 0px;
  }
  to{
    box-shadow: blue 0px 0px 20px;
    animation-timing-function: cubic-bezier(0.8,0,1,1);

  }
}


@keyframes customBounce {
  0% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  100% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.customBounce {
  animation: customBounce 1s alternate-reverse;
  animation-iteration-count: 10;
}



#menu{
  animation: alternate-reverse;
  animation-iteration-count: 6;
  animation-duration: 5s;
  animation-name: slowPulse;
}



/* don't confuse visibility with display! */
#menu *{
  visibility: hidden;
}

#menu:hover *{
  visibility: visible;

}

#menu a:hover{
  color: rgb(207 250 254);
}

/* below is needed to have animation on PCs when hovering away.. */
@media (min-width: 640px) {
  #menu *{
    visibility: visible;
  }
}




