#experience b{
  font-weight: 800;
  font-size: 1.125rem/* 18px */;
  line-height: 1.75rem/* 28px */;
  color: greenyellow;
}

#experience{
  text-shadow: black 1px 1px 2px;
}

#experience button{
  text-shadow: rgb(255, 255, 255) 0px 1px 1px;
}

#infoPage_Links a{
  color:  rgb(199, 241, 254);
}

#infoPage_Links a:hover{
  color: rgb(254 202 202);
  text-decoration: underline;
}
